/***********************
z-ratings 插件样式表文件

************************/
.z_ratings {
	overflow:hidden;
	display:inline-block;
	padding:0;
}
.z_ratings span {
	overflow:hidden;
	display:inline-block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 34px;
}
.z_ratings span.title {
	float:left;
	overflow:hidden;
	margin: 0 0 0 0;
	padding: 0 10px 0 0;
	line-height: 30px;
	background: url(images/good.png) no-repeat right -32px;
}
.z_ratings span.tongji {
	overflow:hidden;
	margin: 0 0 0 10px;
	padding: 0 0 0 0;
	line-height: 30px;
}
a.rateUp {
	float:left;
	overflow:hidden;
	display:inline-block;
	margin: 0 10px 0 0;
	padding: 0 20px 0 50px;
	height:34px;
	line-height:34px;
	cursor:pointer;
	color: #666;
	font-size: 14px;
	background: #fff url(images/good.png) no-repeat 15px 0;
	text-align:left;
	border: 1px solid #209E80;

	-webkit-border-radius: 34px;
	-moz-border-radius: 34px;
	border-radius: 34px;
}
a.rateDown {
	overflow:hidden;
	display:inline-block;
	margin: 0 10px 0 0;
	padding: 0 0 0 10px;
	width: 87px;
	height:34px;
	line-height:34px;
	background: #D0E2F2 url(images/good.png) no-repeat -203px -60px;
	cursor:pointer;
	color: #fff;
	font-size: 14px;
	text-shadow: 0 1px 0 #000;
}
a:hover.rateUp {
	border: 1px solid #777;
	background-color: #eee;
}
a:hover.rateDown {
	background: #D0E2F2 url(images/good.png) no-repeat -203px -90px;
}
a.rateFavor {
	overflow:hidden;
	display:inline-block;
	margin: 0 5px 0 0;
	padding: 0 0 0 10px;
	width: 73px;
	height:30px;
	line-height:30px;
	text-decoration:none;
	background: #D0E2F2 url(images/good.png) no-repeat -310px -60px;
	cursor:pointer;
	color: #333;
	font-size: 14px;
	text-shadow: 0 1px 0 white;
}
a:hover.rateFavor {
	background: #D0E2F2 url(images/good.png) no-repeat -310px -90px;
}
a:hover.rateUp, a:hover.rateDown, a:hover.rateFavor {
	text-decoration: none;
}
/* 我要踩 */
.z_wocai {
	float:left;
	overflow:hidden;
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
}
a.wocai {
	overflow:hidden;
	display:block;
	margin: 0 0 0 0;
	padding: 0 20px 0 16px;
	width: 70px;
	height:30px;
	line-height:30px;
	cursor:pointer;
	color: #fff;
	font-size: 16px;
	background: #FF8200 url(images/good.png) no-repeat right 2px;
	border-radius: 4px;
	text-align:left;
}
a.wocai span {
	color: #fff;
}
.div_cancel_rating {
	position: fixed;
	padding: 5px;
	left: 35%;
	top: 40%;
	width: 320px;
	height: 122px;
	background: url(images/shareNoRepeat.gif) no-repeat;
	z-index: 1000;
}
.collect_head {
	position: relative;
	height: 20px;
	line-height: 20px;
	color:#000;
	font-size: 12px;
}
.collect_head a {
	position: absolute;
	top: 2px;
	right: 9px;
	line-height: 20px;
	color:#000 !important;
	text-decoration: none;
}
.collect_body {
	overflow: hidden;
	margin: 8px 0 10px 0;
	width: 320px;
	height: 75px;
}
.collect_body .collectSuccess {
	height: 66px;
	line-height: 22px;
	margin: 0 0 0 0;
	padding: 0 8px 0 75px;
	padding-left: 65px\9;
	font-weight: normal;
	text-align: left;
	color: #000;
	font-size: 13px;
	font-family: "微软雅黑", "宋体";
	width: 230px;
	vertical-align:middle;
}
.collect_body .collectSuccess table {
	height: 66px;
	width: 230px;
}
.collect_body .collectSuccess td {
	height: 66px;
	width: 230px;
	vertical-align:middle;
}